// cores
$branco: #ffffff;
$preto: #000000;
$azul: #1a569f;
$amarelo: #feb13f;
$azul-claro: #cce6e7;
$rosa: #ea5676;
$cinza: #f7f6f4;

// Pesos das Fontes
$light: 300;
$regular: 400;
$medium: 500;
$semi: 600;
$bold: 700;

// Fontes
$muli: 'Montserrat', sans-serif !important;
$khand: 'Sofia', sans-serif !important;